<% @ad.comments.each do |comment| %>

<div class="card-body">
	<% if (current_member) && (comment.member.id == current_member.id) %>
		<%= rating_for_user @ad, current_member, 'quality', star_path: '/images/ratyrate' %>
	<% else %>
		<%= rating_for_user @ad, comment.member, 'quality', star_path: '/images/ratyrate', disable_after_rate: true %>
	<% end %>
	
	<small class="text-muted">
		<%= t('labels.posted_by') %>
		<%= comment.member.email %>
		(<%= t('labels.posted_on') %>
		<%= time_ago_in_words(comment.created_at) %>)
	</small>
	<br><br>
	<p><%= comment.body %></p>
	<hr>
</div>

<% end %>
