<div class="modal fade" id="sendMailModal" tabindex="-1" role="dialog" aria-labelledby="sendMaiModalLabel">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="sendMaiModalLabel"><%= t('labels.new_message') %></h4>
      </div>
      <div class="modal-body">
        <%=form_tag backoffice_send_mail_index_path, remote: true do %>
          <div class="form-group">
            <label for="recipient-email" class="control-label"><%= t('labels.recipient') %></label>
            <%= text_field :send_email, :recipient_email, class: 'form-control', id: 'recipient-email', readonly: true %>
          </div>
          <div class="form-group">
            <label for="subject-text" class="control-label"><%= t('labels.subject') %></label>
            <%= text_field :send_email, :subject_text, class: 'form-control', id: 'subject-text' %>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label"><%= t('labels.message') %>:</label>
            <%= text_area :send_email, :message_text, class: 'form-control', id: 'message-text' %>
          </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal"><%= t('buttons.close') %></button>
        <%= submit_tag t('buttons.send_message'), class: "btn btn-primary", id: 'send_message' %>
      </div>
    </div>
    <% end %>
  </div>
</div>
