<h1><%= t('profile.edit_ads') %></h1>
<br>

<%= form_for([:site, :profile, @ad]) do |f| %>

<div class="container">
	<div class="row">

		<div class="col-xs-4">
			<div class="form-group">
				<%= f.label :picture %><br>
				<%= image_tag @ad.picture(:medium), class: "img-thumbnail" %>
				<br><br>
				<label class="btn btn-default"><%= t('profile.add_image') %>
					<span style="display:none;">
						<%= f.file_field :picture, class: "btn" %>
					</span>
				</label>

			</div>
		</div>

		<div class="col-xs-8">
			<div class="row">
				<div class="col-xs-8">
					<div class="form-group">
						<%= f.label :title %>
						<%= f.text_field :title, class: "form-control", placeholder: t('placeholder.title') %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<div class="form-group">
						<%= f.label :category %>
						<%= f.collection_select :category_id, Category.all, :id, :description, {}, {class: "form-control"} %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-4">
					<div class="form-group">
						<%= f.label :price %>
						<div class="input-group">
							<div class="input-group-addon"><%= @ad.price.currency.symbol %></div>
							<%= f.text_field :price, class: "form-control", placeholder: t('placeholder.price') %>
						</div>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-8">
					<div class="form-group">
						<%= f.label :description %>
						<%= f.text_area :description, class: "form-control", rows: 5 %>
					</div>
				</div>
			</div>

			<div class="row">
				<div class="col-xs-8">
					<br>
					<%= submit_tag t('buttons.update'), class: "btn btn-primary pull-right" %>
				</div>
			</div>

		</div>
	</div>
</div>

<% end %>


